/* Layout Style */

html {
    scroll-behavior: smooth;
    height: 1500px;
}

body {
    background-image: url("/static/bg/Paper_Tiled_White.png");
    background-color: #F7F7F7;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
}

.content {
    margin: 0px 250px 0px 250px;
}

h1 {
    margin: 0px;
    text-align: center;
    font-family: "Chelsea Market", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
}

h2 {
    padding: 20px 0px 0px 0px;
    margin: 0px;
    font-family: "Chelsea Market", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

a.link {
    text-decoration: none;
    font-weight: bold;
    color: #67e4f2;
}

a.link:hover {
    text-decoration: none;
    font-weight: bold;
    color: #35abb8;
}

#borderimg {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url("/static/bg/Isolated_Torn_Paper1.png") 30 round;
}

/* Default Navigation */

nav {
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0;
    z-index: 1000;
    position: fixed;
    transition: top 0.5s ease;
    background-color: #F7F7F7;
    box-shadow: 1px 2px 4px #768693;
}

.navbar {
    width: 100%;
    max-width: calc(100% - 460px);
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.nav-toggle {
    outline: none;
    position: fixed;
    z-index: 900;
    top: 50px; 
    right: 120px; 
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-top: 1.5px;
    transition: 0.4s;
}

.nav-toggle img {
    width: 150px;
    height: 150px;
    display: block;
    transition: 0.3s ease;
}

.nav-toggle img:hover {
    transform: scaleY(1.1); 
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-logo {
    margin-right: auto;
}

.nav-link {
    margin-left: 15px;
}

.nav-logo a {
    font-size: 20px !important;
    cursor: default;
}

.navbar a {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.navbar i {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 4px 8px; 
}

.navbar .nav-link a:hover,
.navbar i:hover,
.nav-link a.contact:hover {
    border-color: #0080ff; 
    color: #0080ff; 
    cursor: pointer;
}

.nav-link a.contact {
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 4px 8px; 
}

/* Navigation Toggles */

nav.hidden {
    top: -80px;
}

.nav-toggle.hidden {
    top: -58px;
}

/* White text override for dark bg */

nav.nav-white {
    background-color: #062C50;
    box-shadow: 1px 2px 4px #051320;

}

nav.nav-white a,
nav.nav-white i,
nav.nav-white .contact {
    color: #F7F7F7;
    border-color: #F7F7F7;
    transition: top 0.3s;
}

nav.nav-white .nav-link a:hover,
nav.nav-white i:hover,
nav.nav-white .contact:hover {
    color: #67e4f2;
    border-color: #67e4f2;
}

/* Home */

#home-1 {
    background-image: url("/static/bg/Paper_Tiled_Blue.png");
    background-repeat: unset;
    color: #e6e4e0;
    padding: 120px 0px 250px 0px;
}

#home-1 .home-container { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

#home-1 .home-text { 
    flex: 1;
    min-width: 300px;
}

#home-1 .home-image img {
    max-width: 300px;
    height: auto;
}

#home-1 .img {height: 50px}

#home-1 .welcome {
    color: #67e4f2;
    font-size: 24px;
    padding-bottom: 5px;
}

#home-1 .title-card {
    color: #F7F7F7;
    font-size: 36px;
    font-family: "Special Elite", system-ui;
    padding-bottom: 10px;
    border-bottom: double;
}

#home-2 {
    background-repeat: repeat;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#home-2 .title-card {
    text-align: center;
    color: #333;
    font-weight: bold;
    margin-bottom: 40px;
}

#home-2 .card-row-container {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    flex-wrap: wrap;
}

#home-2 .info-card {
    background-image:url("/static/bg/Paperboard_White.png");
    background-blend-mode: multiply;
    border-radius: 10px;
    padding: 30px;
    width: calc(25% - 30px);
    box-shadow: 0 4px 8px #0000001a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    min-height: 250px;
    overflow: hidden;
}

#home-2 .card-style-1 {
    background-color: #3d7d8e;
}


/* Buttons! */

.white-button {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #F7F7F7;
  color: #F7F7F7;
  text-decoration: none;
  border-radius: 5px;
  font-family: sans-serif;
  position: relative;
  transition: all 0.3s ease;
  overflow: hidden;
}


/* ======== MOBILE VERSION ======== */

@media screen and (max-width: 768px) {

    /* Sidebar */
    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 275px;
        height: 100vh;
        background-color: #F7F7F7;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        transition: left 0.3s ease;
        padding-top: 100px;
        z-index: 1000;
    }

    .navbar {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .navbar ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        padding: 0 20px;
        margin: 0;
        list-style: none;
    }

    .navbar li {
        width: 100%;
    }

    .navbar a {
        display: block;
        padding: 10px 0;
        font-size: 18px;
        font-weight: bold;
        color: #000;
        text-decoration: none;
    }

    /* Sidebar: Toggle */
    .nav-toggle {
    display: block;
        position: fixed;
        top: 5px;
        right: 90px;
        z-index: 1100;
        background: none;
        border: none;
        padding: 0;
        transform: rotate(-0.25turn);
        cursor: pointer;
    }

    .nav-toggle img {
        width: 60px;
        height: 60px;
        display: block;
        transition: 0.3s ease;
    }

    /* Sidebar: Hidden */

    nav.hidden {
        left: -290px;
    }

    .nav-toggle.hidden {
        right: 10px;
    }

    /* Everything Else */
    .content {
        margin: 0 20px;
    }

    h1, h2 {
        text-align: center;
        font-size: 24px;
    }
}
