/* === LAYOUT === */

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

:root {
  /* Background */
  --nav-footer: #111C25;
  --base-color: #152A3B;
  --base-variant-1: #112332;
  --base-variant-2: #1C3243;
  --base-variant-3: #010c15;

  /* Text */
  --color-h1: #E4E1DD;
  --color-p: #D5D2CE;
  --color-tb: #faf8f2; /* tb = textbox */
  --color-sub: #8e8c8a;
  --highlight-1: #4ab7c8;
  --highlight-2: #3d9ead;

  /* Accents */
  --accent-1: #CA9745;
  --accent-2: #376b84ff;
  --accent-3: #3e7893;
  --accent-4: #21566f;
  --accent-5: #1a475c;
}

.lightmode {
  /* Background */
  --nav-footer: #C6D7DE;
  --base-color: #E6E9EB;
  --base-variant-1: #B9CED8;
  --base-variant-2: #D1DFE5;
  --base-variant-3: #c1ccd1;

  /* Text */
  --color-h1: #19303f;
  --color-p: #264355;
  --color-tb: #faf8f2; 
  --color-sub: rgb(108, 114, 132);
  --highlight-1: #1d6687;
  --highlight-2: #2a85b0;

  /* Accents */
  --accent-1: #25333C;
  --accent-2: #509dc0;
  --accent-3: #BED9E6;
  --accent-4: #a9c9d6;
  --accent-5: #92B8C9;
}

body {
  background: var(--base-color);
  color: var(--color-p);
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0px;
  height: 100%;
}

p {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-p);
  margin: 0px;
  font-size: 1em;
  line-height: 1.5;
}

h1 {
  font-family: "Chelsea Market", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.75em;
  color: var(--color-p);
  margin: 0px;
}

.texture {
  background: url("")
}

.textbox {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  border: 2px solid var(--color-p);
  background: none;
  color: var(--color-p);
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.95em;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s ease, all 0.2s ease;
}

.button:hover {
  transform: scale(1.05);
  border: 2px solid var(--highlight-1);
  font-weight: bold;
  color: var(--highlight-1);
}

.highlight {
  color: var(--highlight-1);
  text-decoration: none;
  font-weight: bold;
}

.highlight:hover {
  color: var(--highlight-2);
  text-decoration: none;
  font-weight: bold;
}


@media (max-width: 873px) {
  .textbox {
    margin: 0px 12px;
    padding: 0px;
  }
}


/* === NAVIGATION | NAVBAR === */




/* === 404 ERROR === */
#error {
    margin-top: 150px;
    align-items: center;
    text-align: center;
}

#error img {
    display: block;
    margin: auto;
    width: 40%;
}

#error .button {
    margin: 0px 5px;
}

#error p, #error h1 {
    margin: 10px auto 15px auto; 
}
