/* === TOPICS === */

body {
    background: url("/static/bg/Topics_Dark_Default.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

body.lightmode {
    background: url("/static/bg/Topics_Light_Default.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

hr.thin {
    margin: 15px 0px;
    height: 0.3px;
    background-color: var(--color-sub); 
    border: none;
}

#topic .header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 80px 0px 0px 0px;
    padding: 10px 20px;
}

#topic .date p {
    margin: 0;
    color: var(--color-tb);
    font-size: 0.85em;
    text-align: right;
}

#topic .category {
    display: none;
}

#topic .category.show {
    display: block;
}

#topic h1 {
    color: var(--color-tb);
    font-size: 2.25em;
}

#topic .h3-title {
    margin: 0px 0px 15px 0px;
    border-bottom: 2px solid var(--accent-2);
}

#topic h3 {
    font-size: 1.3em; 
    margin: 8px 0px;
}

#topic h4 {
    margin: 0px 0px 5px 0px;
    font-size: 1.05em;
    color: var(--highlight-1);
}

#topic b {
    font-size: 1.1em;
    color: var(--color-h1);
}

.textbox {
    line-height: 20px;
}

#topic .container {
    background: var(--base-variant-3);
    padding: 25px 25px 30px 25px;
    border-radius: 10px;
    min-height: 900px;
    margin-bottom: 50px;
}

/* TOPICS: BUTTONS */
#myBtnContainer {
    text-align: center;
    display: flex;
    gap: 30px;
    border-bottom: 2px solid var(--accent-2);
    margin-bottom: 35px;
}

#topic .btn {
    text-align: center;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--color-p);
    font-size: 1em;
    font-weight: 400;
    padding: 10px 5px;
    position: relative;
    transition: color 0.3s ease;
}

#topic .btn:hover {
    color: var(--highlight-1);
}

#topic .btn.active {
    color: var(--highlight-1);
    font-weight: bold;
}

.btn.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background-color: var(--highlight-1);
    border-radius: 1px;
}


/* TOPICS CATEGORY: ABOUT */

#topic .titlecard {
    position: relative;
    width: 100%;
    height: 150px;
    border: 2px solid var(--accent-2);
    border-radius: 4px;
    overflow: hidden;
    margin: 15px 0;
}

#topic .titlecard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
    filter: brightness(0.6);
}

#topic .titlecard .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--color-tb);
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-shadow: 0 2px 5px #19010199;
}

#topic .intro {
    margin-top: 25px;
    border: 2px solid var(--accent-2);
    border-radius: 4px;
    padding: 20px 30px;
    text-align: center;
}

#topic .intro p {
    margin-top: 8px;
}

/* TOPICS CATEGORY: FAQ | RESOURCES OPENER */

#topic .opener {
    display: flex;
    align-items: top;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

#topic .opener-text {
    flex: 1;
    min-width: 300px;
}

#topic .opener-image img {
    max-width: 150px;
}
