{% extends "layout.html" %}
{% block content %}

<div class="textbox">

<section id="about">
    <div class="main-border">
        <div class="main-title">
            <h1>About Us</h1>
        </div>
    </div>
    
  <div class="container">
    <div class="text">
      <p>
        The CIEHF is a charitable organisation based in the UK, established 50 years ago to promote ergonomics.
        Its mission is to provide support for ergonomists and to spread knowledge about ergonomics to the wider community.
      </p>
      <p>
        The IEHF has provided this site to encourage learning about ergonomics among secondary school students and their teachers.
        It's important that we are effective in our aims and that we are providing information in the form and depth that you need.
        Please let us know how we can improve our service to you.
      </p>
      <p>
        If you can help, or you simply would like more information about the CIEHF, please write to:
      </p>
      <ul>
        <li>The Institute of Ergonomics & Human Factors</li>
        <li>Elms Court</li>
        <li>Elms Grove</li>
        <li>Loughborough</li>
        <li>Leicestershire LE11 1RG</li>
        <li>or telephone us on 01509 234 904,</li>
        <li>or fax to 01509 235 666,</li>
        <li>or email us at ciehf@ergonomics.org.uk.</li>
      </ul>
      <p>
        Visit the CIEHF's main web site at <a href="https://www.ergonomics.org.uk" target="_blank">www.ergonomics.org.uk</a>,
        where you will find more information about ergonomics, details of how to join the CIEHF,
        news about local groups of CIEHF members, and much more.
      </p>
    </div>
    <div class="image">
      <img src="/static/image/about_us_1.jpg" alt="Photo by Oleksii Piekhov on Unsplash">
    </div>
  </div>
</section>
</div>




{% endblock %}