{% extends "layout.html" %}
{% block content %}

<section id="career-1">
    <div class="container">
        <div class="box"> <!-- Main Content -->
            <div class="boxed-content">
            </div>
        </div>
        <div class="box"> <!-- Side  Content -->
            <div class="boxed-content">
                <h2> Where can I find more? </h2>
                <p> We have put together a careers pack for students that contains lots more information
                    about what to study and what it's like to work as an ergonomist. </p>
                <p> You can download it here (1.1Mb) </p>
            </div>
        </div>
    </div>
</section>

<section id="career-2">

</section>

{% endblock %}