{% extends "layout.html" %}
{% block content %}

<div class="date">
    July 31st, 2025
</div>

<section id="ergonomics-1" class="box">
    <div class="boxed-content">
        <h1> ERGONOMICS </h1>
    </div>
</section>

<section id="ergonomics-2" class="box">
    <div class="boxed-content">
        <h2> Ergo-what? </h2>
        <p class="bottomtxt"> /Ergo·nom·ics/ </p>
        <p> Ergonomics is about 'fit': the fit between people, the things they do, the objects they use and
            the environments they work, travel and play in. If good fit is achieved, the stresses on people are
            reduced. They are more comfortable, they can do things more quickly and easily, and they make fewer
            mistakes. So when we talk about 'fit', we don't just mean physical fit, we are concerned with
            psychological and other aspects too. That is why ergonomics is often called 'Human Factors'. </p>
        <hr>
        <h2> Ergonomics and Human Factors - The same thing? </h2>
        <p> You could argue that they are, with the essential difference being that ergonomics has always been
            the more common term within the UK, and Human Factors is favoured by the North Americans. The two
            terms then would be interchangeable.  However, others would disagree and suggest that human factors
            is a more general term. A few years ago the terms were combined in the name of the American Society
            - now known as the Human Factors and Ergonomics Society.  Incidentally, the Oxford English Dictionary
            supports the equivalence of the terms. </p>
    </div>
</section>
{% endblock %}