{% extends "layout.html" %}
{% block content %}

<section id="home-s1" data-bg="dark-bg" class="row">
    <div class="content">
        <h1 class="welcome"> Welcome to </h1>
        <h1 class="title-card"> Ergonomics4Schools </h1>
        <hr>
        <div class="home-text"> <!-- home text -->
            <h2> <img src="static\icon\Mascot1.png"> Ever tried to eat soup with a fork? </h2>
            <p> It's not easy, is it? Well, ergonomics is about changing all that!
                We don't mean making it easy to eat soup with a fork, we mean giving you the right tools for the job.
                Ergonomics is about making your life simpler and safer by taking account of human characteristics when
                we design things. </p>
            <p> This site aims to answer all those questions about ergonomics that you haven't even thought of yet. </p>
            <a class="white-button" href="/topics"> Discover More </a>
        </div> <!-- home text -->
    </div>
</section>

<section id="home-s2" data-bg="light-bg" class="content" class="row">
    <div class="column"> <!-- Box 1 -->
        <h3> Explore your future! </h3>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet risus sit amet magna bibendum eleifend. </p>
        <a class="white-button" href="/career-advice"> Go to Careers </a>
    </div> <!-- Box 1 -->
    <div class="column"> <!-- Box 2 -->
        <h3> Lost? Ask Questions! </h3>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet risus sit amet magna bibendum eleifend. </p>
        <a class="white-button" href="/contact"> Go to Contacts </a>
    </div> <!-- Box 2 -->
    <div class="column"> <!-- Box 3 -->
        <h3> Curious About Us? </h3>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet risus sit amet magna bibendum eleifend. </p>
        <a class="white-button" href="/about"> Go to About Us </a>
    </div> <!-- Box 3 -->
</section>

{% endblock %}