{% extends "layout.html" %}
{% block content %}

<section id="home-1">
  <div class="content">
    <h1 class="welcome">Welcome To...</h1>
    <h1 class="title-card">Ergonomics4Schools</h1>

    <div class="home-container">
      <div class="home-text">
        <h2> Ever tried to eat soup with a fork?</h2>
        <p> It's not easy, is it? Well, <a class="link" href="/"> ergonomics </a> is about changing all that!
            We don't mean making it easy to eat soup with a fork, we mean giving you the right tools for the job.
            Ergonomics is about making your life simpler and safer by taking account of human characteristics when
            we design things. </p>
        <p> This site aims to answer all those questions about ergonomics that you haven't even thought of yet ...</p>
        <a class="default-button" href="/topics"> Discover More </a>
      </div>

      <div class="home-image">
        <img src="static/icon/Mascot1.png" alt="Mascot_Holding_Book" oncontextmenu="return false;" draggable="false">
      </div>
    </div>

  </div>
</section >

<section id="home-2">
  <div class="content">
    <h1> What Else Does Ergonomics Do? </h1>
  </div>
</section>

<section id="home-3">
  <div class="content"> 
    <div class="title-card"> 
      <h1> Don't know where to start? </h1>
    </div>
    <div class="card-row-container">
      <div class="info-card">
        <div class="card-style-1">
          <h3> Explore your future! </h3>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet risus sit amet magna bibendum eleifend. </p>
          <a class="blue-button" href="/career-advice"> Go To Careers </a>
        </div>
      </div> <!-- Card 1: Light Blue -->

      <div class="info-card">
        <div class="card-style-2">
          <h3> Lost? Ask Questions! </h3>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet risus sit amet magna bibendum eleifend. </p>
          <a class="blue-button" href="/contact"> Go to Contacts </a>
        </div>
      </div> <!-- Card 2: White -->

      <div class="info-card">
        <div class="card-style-3">
          <h3> Curious About Us? </h3>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet risus sit amet magna bibendum eleifend. </p>
          <a class="blue-button" href="/about"> Go To About Us </a>
        </div>
      </div> <!-- Card 3: Darker Blue -->
    </div> 
  </div>
</section>

{% endblock %}