{% extends 'layout.html' %}
{% block content %}

<section 1> 
    <div>
        <h1> Welcome to </h1>
        <h1> Ergonomics4Schools </h1>

        <h2> Ever tried to eat soup with a fork? </h2>
        <p> It's not easy, is it? Well, ergonomics is about changing all that! We don't mean making it easy to eat soup with a fork, we mean giving you the right tools for the job. Ergonomics is about making your life simpler and safer by taking account of human characteristics when we design things. </p>
        <p> This site aims to answer all those questions about ergonomics that you haven't even thought of yet. </p>
    </div>
</section>

{% endblock %}