{% extends "layout.html" %}
{% block content %}

<div class="date">
    <p> {{research.date}} </p>
</div>

<section id="research-1" class="box">
    <div class="boxed-content">
        <h1> {{ research.title | safe  }} </h1>
    </div>
</section>

<section id="research-2" class="box">
    <div class="boxed-content">
        <div class="boxed-content-2">
            <p> {{ research.authors }} </p>
            <p> {{ research.publishers }} </p>
        </div>
    </div>
</section>

<section id="research-3" class="box">
    <div class="boxed-content">
        {{ research.introduction | safe }}
    </div>
</section>

<section id="research-4" class="box">
    <div class="boxed-content">
        {{ research.content | safe }}
    </div>
</section>

{% endblock %}