{% extends "layout.html" %}
{% block content %}
<style>
#searches .search-input {
    background: #F7F7F7;
    color: #2a3f59;
    font-size: 16px;
    padding: 5px;
    width: 120px;
    border-radius: 12px;
    transition: all 0.3s ease;
}

#searches .search-input::placeholder {
    color: #ffffffb3;
}

#searches .search-input:focus {
    outline: none;
}

#searches form {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

#searches input[type="text"] {
    padding: 8px;
    flex: 1;
    min-width: 250px;
    max-width: 400px;
    border: 3px solid #728496;
    transition: none;
}

#searches button {
    background: transparent;
    color: #f0f0f0;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border: 3px solid #F7F7F7;
    border-radius: 12px;
    padding: 8px 8px 4px 8px;
    cursor: pointer
}

#searches button:hover {
    background: #f0f0f0;
    color: #193652;
    transition: all 0.3s ease;
}

#searches h2 {
    margin: 100px 0px 10px 0px;
}

#search .result {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 30px;
    padding: 10px 0;
}

#search .result a {
    display: flex;
    text-decoration: none;
    color: inherit;
    width: 100%;
}

#search .thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 0px 2px 10px #363c453f;
    border: 1px solid #ccc;
    height: 120px;
    width: 120px;
}

.thumbnail img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.result-text {
    flex: 1;
    margin: 0px 0px 0px 10px; 
}

.result-text h3 {
    font-size: 18px; 
    margin: 0px;
}

.result-text h3:hover {
    text-decoration: underline;
}

.result-text p {
    color: #d6dada;
}

.light-mode .result-text p {
    color: #404955;
}

.result-text .keywords {
    font-size: 10px;
    font-weight: bold;
    color: #98acc0;
    text-transform: uppercase;
}

.light-mode .result-text .keywords {
    color: #8b97a2;
}

</style>


<section id="searches" class="textbox">
    <h2> Search Results </h2>

    <form action="/search" method="get">
      <input type="text" name="q" placeholder="Search..." class="search-input" maxlength="300">
      <button type="submit" onclick="limitFunction()"><i class="fi fi-br-search"></i></button>
    </form>

    {% if query %}
    <p> {{ topics|length }} result{{ 's' if topics|length != 1 else '' }} found for <b> "{{ query }}" </b> </p>
    {% endif %}
</section>

<section id="search" class="textbox">
  {% if topics %}
    {% for topic in topics %}
    <div class="result">
      <a href="{{ url_for('topic', id=topic.id) }}">
        
        <div class="thumbnail">
          <img src="{{ topic.image }}" alt="Image for {{ topic.name }}">
        </div>

        <div class="result-text">
          <h3>{{ topic.name }}</h3>
          <p>{{ topic.summary }}</p>
          <p class="keywords">KEYWORDS: {{ topic.keywords }}</p>
        </div>

      </a>
    </div>
    {% if topic.content %}
    <p> {{ topic.content | truncate(150, True, '...') }}
    {% endif %}
    {% endfor %}

    {% else %}
    {% if query %}
      <p> Please try a different search term. </p>
      {% else %}
      <p> Please enter a search query to find topics. </p>
      {% endif %}
    {% endif %}
</section>

{% endblock %}