{% extends "layout.html" %}
{% block content %}
<style>
/* === TOPICS === */

#topic body {
    background: url("/static/bg/Topics_Default.jpg");
}

#topic .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 100px 0 0 0;
}

#topic .date p {
    margin: 0; 
    color: var(--color-sub);
    font-size: 0.85em;
    text-align: right;
}

#topic .content {
    background: var(--base-variant-1);
    padding: 15px; 
}

</style>

<section id="topic">
    <div class="textbox">
        <div class="header">
            <div class="what">
                <h1> {{topic.name.upper()}} </h1>
            </div>
            <div class="date">
                <p> Published: {{ topic.created_on }} | Updated: {{ topic.last_updated_on }} </p>
            </div>
        </div>
        <div class="content">
            <div class="introduction">
                <h2> {{ topic.heading }} </h2>
                <p> {{ topic.introduction }} </p>
            </div>
            <div id="article">
                {{ articles.title }}
                {{ articles.subheading }}
                {{ articles.content }}
            </div>
            <div id="resource">
                <h2> {{ resource.name }} </h2>
                <img src="{{ resource.image }}">
                <p> {{ resource.type }} </p>
                <p> {{ resource.description }} </p>
                <p> {{ resource.url }} </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}