{% extends "layout.html" %}
{% block content %}
<head>
    <link rel="stylesheet" href="/static/topicstyle.css">
    <link rel="stylesheet" href="/static/style.css">
</head>

<section id="topic-intro">
    <div class="content">
        <h1>{{ topic.name }}</h1>
        <p>{{ topic.introduction }}</p>
    </div>
</section>

<section id="topic-info">
    <div class="content">
    {% for article in articles %}
        {% if article.template_type == 1 %}
            {% include "topic templates/article_1.html" %}
        {% elif article.template_type == 2 %}
            {% include "topic templates/article_2.html" %}
        {% elif article.template_type == 3 %}
            {% include "topic templates/article_3.html" %}
        {% endif %}
    {% endfor %}
    </div>
</section>

<section id="topic-resources">
    <div class="content"> 
        <h2> {{ resource.name }} </h2>
        <img src="{{ resource.image }}">
        <p> Type: {{ resource.type }} </p>
        <p> {{ resource.description }} </p>
        <p> {{ resource.url }} </p>
    </div>
</section>

{% endblock %}